.DS_Store
/Manifest.toml
/dev/
*.swp
*.log
out/*
outext/*
docs/Manifest.toml
benchmark/Manifest.toml
.benchmarkci/
benchmark/tune.json
docs/notebooks/.ipynb_checkpoints/heron-heiles-checkpoint.jl
docs/notebooks/.ipynb_checkpoints/henon-heiles-checkpoint.ipynb
